@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 15 23 42;
}

.dark {
  --bg: 2 6 23;
  --fg: 226 232 240;
}

html, body {
  height: 100%;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--fg));
}

.container {
  @apply max-w-6xl mx-auto px-4;
}

/* Card */
.card {
  @apply rounded-2xl border border-slate-200 dark:border-slate-700 shadow-sm p-5 bg-white/60 dark:bg-slate-900/60 backdrop-blur;
}
